{
  "name": "AdvantageAutomation",
  "label": "Advantage Automation",
  "description": "Provides actions to automate Advantage",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "1.0",
  "author": "Dylan Lesperance",
  "commands": []
}